.mat-icon {
    position: relative;
    color: white;
}

mat-toolbar{
    background-color: black;
    color: white;
    height: auto;
/*     background-image: url("../../../../assets/back3.jpg");
    background-repeat: repeat-x;
    background-size: auto 600%; 
    background-position: top center; */
}

.drop-down button{
    width: 150px;
}

.text-white{
    color: white !important;
}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
.demo-section + .demo-section {
margin-top: 16px;
}  
.mat-badge-content {
    font-size: 12px;
    min-width: 20px;
    height: 20px;
    line-height: 20px;
    padding: 0 6px;
    border-radius: 10px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
  
.example-spacer {
    flex: 1 1 auto;
}

.spacer {
    flex: 1 1 auto;
  }  

.centered-text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
