<!-- pagamento.component.html -->
<div class="pagamento-container">
    <div class="itens-carrinho">
        <h2 id="h2">Itens da compra</h2>
        <div class="carrinho-item" *ngFor="let item of carrinhoItens">
    
          <img [src]="item.imageUrl" alt="{{ item.imageUrl }}" class="item-imagem">
          <div class="item-detalhes">
            <span class="item-nome">{{ item.nome }}</span>
            <span class="item-preco">{{ item.preco | currency:'BRL' }}</span>
          </div>
          <div class="item-quantidade">
            <mat-label>Quantidade</mat-label>
            <div>
              <span>{{ item.quantidade }}</span>
            </div>
            
          </div>
          <div class="item-total">
            <mat-label>Total</mat-label>
            <span >{{ item.quantidade * item.preco | currency:'BRL' }}</span>
          </div>
        </div>
      </div>

    <div class="resumo-compra">
      <h2>Resumo da compra</h2>
      <p>Total da Compra: {{ calcularTotal() | currency:'BRL' }}</p>
      <h3>Dados do Cliente</h3>
      <p>Nome: {{ cliente.nome }}</p>
      <p>CPF: {{ cliente.cpf }}</p>
      <p>Email: {{ cliente.email }}</p>

      <h3>Endereço para entrega</h3>
      <p>Nome: {{ cliente.enderecos[0].nome }}</p>
      <p>Logradouro: {{ cliente.enderecos[0].logradouro }}, {{ cliente.enderecos[0].numero }}</p>
      <p>Complemento: {{ cliente.enderecos[0].complemento }}</p>
      <p>Bairro: {{ cliente.enderecos[0].bairro }}</p>
      <p>CEP: {{ cliente.enderecos[0].cep }}</p>
      <p>Cidade: {{ cliente.enderecos[0].cidade }} - {{ cliente.enderecos[0].estado }}</p>
      <h3>Forma de Pagamento</h3>

      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="formaDePagamentoSelecionada" (change)="selecionarFormaDePagamento($event)">
        @for (formaPagamento of formasDePagamento; track formaPagamento) {
          <mat-radio-button class="example-radio-button" [value]="formaPagamento.id">{{formaPagamento.label}}</mat-radio-button>
        }
      </mat-radio-group>
      
      <button mat-raised-button class="finalizarButton" (click)="finalizarCompra()">Finalizar Compra</button>
    </div>
  </div>
  