<mat-toolbar color="primary" class="toolbar-title">Cadastro de Armas</mat-toolbar>
<div class="form-container">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="formGroup">
                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" formControlName="nome">
                    <mat-error *ngIf="formGroup.get('nome')
                                   && formGroup.get('nome')?.invalid
                                   && formGroup.get('nome')?.touched">
                        O nome é obrigatorio.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Descrição</mat-label>
                    <input matInput type="text" formControlName="descricao">
                    <mat-error *ngIf="formGroup.get('descricao')
                                   && formGroup.get('descricao')?.invalid
                                   && formGroup.get('descricao')?.touched">
                        O Descrição é obrigatorio.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Preço</mat-label>
                    <input matInput type="number" formControlName="preco">
                    <mat-error *ngIf="formGroup.get('preco')
                                   && formGroup.get('preco')?.invalid
                                   && formGroup.get('preco')?.touched">
                        O Preço é obrigatorio.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Quantidade em estoque</mat-label>
                    <input matInput type="number" formControlName="qtdNoEstoque">
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Fabricante</mat-label>
                    <input matInput type="text" formControlName="fabricante">
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Modelo</mat-label>
                    <input matInput type="text" formControlName="modelo">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Material</mat-label>
                    <mat-select formControlName="material">
                        @for (material of materiais; track material.id) {
                            <mat-option [value]="material">
                                {{material.material}}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Calibre</mat-label>
                    <mat-select formControlName="calibre">
                        @for (calibre of calibres; track calibre.id) {
                            <mat-option [value]="calibre">
                                {{calibre.calibre}}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Tipo de Arma</mat-label>
                    <mat-select formControlName="tipoArma">
                        @for (tipoArma of tiposArma; track tipoArma.id) {
                            <mat-option [value]="tipoArma">
                                {{tipoArma.label}}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Tipo de Acabamento</mat-label>
                    <mat-select formControlName="acabamento">
                        @for (acabamento of acabamentos; track acabamento.id) {
                            <mat-option [value]="acabamento">
                                {{acabamento.material}}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Peso</mat-label>
                    <input matInput type="number" formControlName="peso">
                </mat-form-field>

                

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Propulsor</mat-label>
                    <input matInput type="text" formControlName="propulsor">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Tipo de Tiro</mat-label>
                    <mat-select formControlName="tipoTiro">
                        @for (tipoTiro of tiposTiro; track tipoTiro.id) {
                            <mat-option [value]="tipoTiro">
                                {{tipoTiro.descricao}}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Velocidade</mat-label>
                    <input matInput type="text" formControlName="velocidade">
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Capacidade de Tiros</mat-label>
                    <input matInput type="number" formControlName="capacidadeDeTiro">
                </mat-form-field>

            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button
                    color="primary"
                    (click)="salvar()"
                    [disabled]="formGroup.invalid">
                Salvar
            </button>
            <button mat-raised-button
                    *ngIf="formGroup?.get('id')?.value"
                    color="warn"
                    (click)="excluir()"
                    [disabled]="formGroup.invalid">
                Excluir
            </button>
            <button mat-raised-button
                    routerLink="/armas">
                Cancelar
            </button>

        </mat-card-actions>
    </mat-card>
</div>
