<!-- carrinho.component.html -->
<div class="carrinho-container">
  
  <div class="itens-carrinho">
    <h2 id="h2">Carrinho</h2>
    <div class="carrinho-item" *ngFor="let item of carrinhoItens">

      <img [src]="item.imageUrl" alt="{{ item.imageUrl }}" class="item-imagem">
      <div class="item-detalhes">
        <span class="item-nome">{{ item.nome }}</span>
        <span class="item-preco">{{ item.preco | currency:'BRL' }}</span>
      </div>
      <div class="item-quantidade">
        <mat-label>Quantidade</mat-label>
        <div>
          <button mat-icon-button (click)="decrementarQuantidade(item)">&#60;</button>
          <span>{{ item.quantidade }}</span>
          <button mat-icon-button (click)="incrementarQuantidade(item)">&#62;</button>
        </div>
        
      </div>
      <div class="item-total">
        <mat-label>Total</mat-label>
        <span >{{ item.quantidade * item.preco | currency:'BRL' }}</span>
      </div>
      
      <button mat-icon-button color="warn" (click)="removerItem(item)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <div class="resumo-compra">
    <h2>Resumo</h2>
    <p>Total da Compra: {{ calcularTotal() | currency:'BRL' }}</p>
    <button mat-raised-button color="primary" (click)="finalizarCompra()">Ir para pagamento</button>
    <button mat-raised-button color="primary" routerLink="/ecommerce">Continuar comprando</button>
  </div>
</div>
<ng-template #carrinhoVazio>
  <div class="carrinho-vazio">
    <p>O carrinho está vazio.</p>
  </div>
</ng-template>



<!-- <div class="confirmacao-container">
  <div class="confirmacao-box">
    <img class="confirmacao-icon" src="/icons/success.svg" alt="Success">
    <h2 class="confirmacao-title">Compra Finalizada com Sucesso!</h2>
    <p class="confirmacao-mensagem">Obrigado por sua compra. Aqui estão os detalhes do seu pedido:</p>
    <div class="detalhes-pedido">
      <h3>Detalhes do Pedido</h3>
      <p><strong>ID do Pedido:</strong> {{ pedido.id }}</p>
      <p><strong>Data:</strong> {{ pedido.data }}</p>
      <p><strong>Total:</strong> {{ pedido.total | currency:'BRL' }}</p>
      <h3>Itens</h3>
      <ul>
        <li *ngFor="let item of pedido.itens">
          {{ item.quantidade }}x {{ item.nome }} - {{ item.preco | currency:'BRL' }}
        </li>
      </ul>
      <h3>Endereço de Entrega</h3>
      <p>{{ pedido.endereco.logradouro }}, {{ pedido.endereco.numero }}</p>
      <p>{{ pedido.endereco.complemento }}</p>
      <p>{{ pedido.endereco.bairro }}</p>
      <p>{{ pedido.endereco.cep }}</p>
      <p>{{ pedido.endereco.cidade }} - {{ pedido.endereco.estado }}</p>
    </div>
    <button mat-raised-button color="primary" (click)="voltarParaHome()">Voltar para a Página Inicial</button>
  </div>
</div>

/* confirmacao.component.css */
.confirmacao-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.confirmacao-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.confirmacao-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.confirmacao-title {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.confirmacao-mensagem {
  margin-bottom: 20px;
  font-size: 16px;
  color: #666;
}

.detalhes-pedido {
  text-align: left;
  margin-bottom: 20px;
}

.detalhes-pedido h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.detalhes-pedido p,
.detalhes-pedido ul {
  margin-bottom: 10px;
  font-size: 14px;
  color: #666;
}

.detalhes-pedido ul {
  list-style-type: none;
  padding: 0;
}

.detalhes-pedido li {
  margin-bottom: 5px;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

// confirmacao.component.ts
import { Component, OnInit } from '@angular/core';
import { Router } from '@angular/router';

@Component({
  selector: 'app-confirmacao',
  templateUrl: './confirmacao.component.html',
  styleUrls: ['./confirmacao.component.css']
})
export class ConfirmacaoComponent implements OnInit {
  pedido: any;

  constructor(private router: Router) { }

  ngOnInit(): void {
    const navigation = this.router.getCurrentNavigation();
    if (navigation?.extras.state) {
      this.pedido = navigation.extras.state['pedido'];
    }
  }

  voltarParaHome(): void {
    this.router.navigateByUrl('/');
  }
}
 -->