#h2{
    padding-left: 20px;
}

button{
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.carrinho-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: hsl(0, 0%, 89%);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }
  
  .itens-carrinho {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    background-color: #fff;
    margin-right: 40px;
    
  }
  
  .carrinho-item {
    display: grid;
    grid-template-columns: 100px 1fr auto auto auto;
    align-items: center;
    padding: 10px;
    margin: 0px 20px;
    background-color: #fff;
    border-top: 1px solid lightgray;
  }

  .carrinho-item button{
    border: 1px solid red;
    border-radius: 6px;
    color: red;
  }
  
  .item-imagem {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .item-detalhes {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .item-quantidade {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .item-quantidade button{
    margin: 0px 15px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    border: 1px solid gray;
    color: grey;
  }
  
  .resumo-compra {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    & button{
        padding: 16px;
        width: 100%;
        height: auto;
        background-color: black;
        color: aliceblue;
        font-weight: 800;
        border-radius: 6px;
    }

    & button:last-child{
        background-color: #fff;
        color: black;
    }
  }
  
  .carrinho-vazio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.2em;
    color: #888;
  }
  
  .item-total{
    margin-right: 50px;
    display: flex;
    flex-direction: column;
  }

  .item-nome{
    font-size: 20px;
    font-weight: 700;
  }