<mat-toolbar color="primary">
  <div class="flex-container">
    <span class="toolbar-title">Controle de Endereço</span>
    <button mat-fab color="accent" routerLink="/enderecos/new">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-toolbar>

<table mat-table [dataSource]="enderecos" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Nome Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
    </ng-container>

    <!-- Logradouro Column -->
    <ng-container matColumnDef="logradouro">
      <th mat-header-cell *matHeaderCellDef> logradouro </th>
      <td mat-cell *matCellDef="let element"> {{element.logradouro}} </td>
    </ng-container>
    
    <!-- Cep Column -->
    <ng-container matColumnDef="cep">
      <th mat-header-cell *matHeaderCellDef> Cep </th>
      <td mat-cell *matCellDef="let element"> {{element.cep}} </td>
    </ng-container>

    <!-- Acao Column -->
    <ng-container matColumnDef="acao">
      <th mat-header-cell *matHeaderCellDef> Ação </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button
                color="primary"
                routerLink="/enderecos/edit/{{element.id}}">
                <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button
                color="warn">
                <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
