img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

button{
    border: none;
    background-color: white;
    border-radius: 6px;
    margin: 5px;
}

mat-card{
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease-in-out;
}

mat-icon{
    margin: 0px;
}

.container {
    padding: 20px;
}

.responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.centered-text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}