<mat-drawer-container class="container">

    <mat-drawer #drawer  mode="side" opened>
        <mat-toolbar>
            <span>Menu</span>
        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item>Home</mat-list-item>
            <mat-list-item routerLink="/armas">Armas</mat-list-item>
            <mat-list-item routerLink="/acabamentos">Acabamentos</mat-list-item>
            <mat-list-item routerLink="/funcionarios">Funcionarios</mat-list-item>
            <mat-list-item routerLink="/clientes">Clientes</mat-list-item>
            <mat-list-item routerLink="/materiais">Materiais</mat-list-item>
            <mat-list-item routerLink="/tipotiros">Tipos de Tiros da arma</mat-list-item>
        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>