<mat-drawer-container class="container">

    <mat-drawer #drawer  mode="side" opened>
        <mat-toolbar>
            <span>Menu</span>
        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item>Home</mat-list-item>
            <mat-list-item routerLink="/admin/armas">Armas</mat-list-item>
            <mat-list-item routerLink="/admin/acabamentos">Acabamentos</mat-list-item>
            <mat-list-item routerLink="/admin/funcionarios">Funcionarios</mat-list-item>
            <mat-list-item routerLink="/admin/clientes">Clientes</mat-list-item>
            <mat-list-item routerLink="/admin/materiais">Materiais</mat-list-item>
            <mat-list-item routerLink="/admin/tipotiros">Tipos de Tiros da arma</mat-list-item>
            <mat-list-item routerLink="/admin/calibres">Calibres</mat-list-item>
            <mat-list-item routerLink="/admin/tiposarma">Tipos de arma</mat-list-item>
        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>