<div class="login-container">
    <div class="login-box">
        <img class="login-icon" src="/icons/passkey.svg" alt="Passkey">
        <h2 class="login-title">Bem-vindo</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="login-input">
                <input matInput placeholder="Username" formControlName="username" required>
                <mat-error *ngIf="loginForm.get('username')!.hasError('required')">O username é obrigatório</mat-error>
            </mat-form-field>
            <mat-form-field class="login-input">
                <input matInput type="password" placeholder="Senha" formControlName="password" required>
                <mat-error *ngIf="loginForm.get('password')!.hasError('required')">A senha é obrigatória</mat-error>
            </mat-form-field>
            <button mat-raised-button class="login-button" color="primary" type="submit">Login</button>
        </form>
        <button mat-button class="register-button" color="accent" (click)="onRegister()">Não tem uma conta? Cadastre-se</button>
    </div>
</div>
